@import '@angular/material/prebuilt-themes/indigo-pink.css';

.contanier{
    align-content: center;
    justify-items: center;
    width: 100%;

}
ng-container{
    margin-left: 10%;
}

input:required:valid,
select:required:valid {
  border-color: #28a745;
}

.was-validated input:required:invalid,
.was-validated select:required:invalid {
  border-color: #dc3545;
}

.was-validated input:required:valid,
.was-validated select:required:valid {
  border-color: #28a745;
}

