<div class="container">
<ng-container *ngIf="!forgotPassword" >

<h2 mat-dialog-title>Change Password</h2>
<div mat-dialog-content>
  <mat-form-field>
    <label>Password</label>
    <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone : true}" placeholder="Password" required/>
  </mat-form-field>
  <mat-form-field>
    <label>Security Question</label>
    <input matInput [(ngModel)]="security_question" [ngModelOptions]="{standalone : true}" [value]="security_question" placeholder="Security Question" required />
  </mat-form-field>
  <mat-form-field>
    <label>Security Answer</label>
    <input matInput [(ngModel)]="security_answer" [ngModelOptions]="{standalone : true}" [value]="security_answer" placeholder="Security Answer" required/>
  </mat-form-field>
  <span>Please provide one word answers</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit" (click)="onSaveClick()" >Save</button>
</div>

</ng-container>
<ng-container *ngIf="forgotPassword ">

  <ng-container *ngIf="showUsername">

   
    <div mat-dialog-content>
      <mat-form-field>
        <label>Enter Your Username</label>
        <input matInput [(ngModel)]="username" placeholder="Enter Username" required/>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button (click)=" checkUsername()">Next</button>
       
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="showSecurity">

    <div mat-dialog-content>
    <mat-form-field>
      <label>Security Question</label>
      <input matInput [(ngModel)]="security_question" [value]="security_question" placeholder="Security Question" required />
    </mat-form-field><br/>

    <mat-form-field>
      <label>Security Answer</label>
      <input matInput [(ngModel)]="security_answer" [value]="security_answer" placeholder="Security Answer" required/>
    </mat-form-field><br/>
    <span>Please provide one word answers</span><br/>
    <div mat-dialog-actions>
    <button mat-button (click)=" checkSecurityQuestion()">Next</button>
    </div>
    </div>

  </ng-container>

  <ng-container *ngIf="showPassword">

    <div mat-dialog-content>
      <mat-form-field>
        <label>Password</label>
        <input matInput [(ngModel)]="password" placeholder="Password" required/>
      </mat-form-field>
<br/>
      <mat-form-field>
        <label>Re-Enter Password</label>
        <input matInput [(ngModel)]="reEnterPassword" placeholder="Re-Enter" required/>
      </mat-form-field>
      </div>
      <div mat-dialog-actions>
      <button mat-button (click)=" changePassword()">Change Password</button>
      </div>

  </ng-container>

</ng-container>
</div>
