:root{
    --bg-color:#222327;
    --text-color:#fff;
    --main-color:#0579a8;
}

img{
    position: absolute;
    top: -5;
    width: 95px;
    height: 80px;
    padding: 0;
    z-index: 10000;
}


header{
    position: fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    background-color:#0c2461;
    /* background-color: rgba(0, 0, 0, 0.1);  */
    backdrop-filter: blur(50px);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    transition: all .50s;
    height: 10%;
  
}
a{
    text-decoration: none;
   
}
span{
    margin-left: 5%;
    display: inline-block;
   
    width: 100%;
}
.logo{
   
    display:flex;
    align-items: center;

    margin-left: 5%;
    width: max-content;
  
}

.logo i{

    color:#fff;
    font-size: 28px;
  
  margin-right: 10px;
  
    
}

.logo span{
 
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    
}
.empty-div li,.empty-div label{
  
   
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    justify-content: center;
    color: white;
   
}
#menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.empty-div a{
    size: 10px;
}
.navbar, .empty-div{

    
    display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  
    
}
.navbar a,.empty-div a,.empty-div label{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
   
    margin: 0px 30px;
    transition: all .20s ease;
    
 

}
.navbar a:hover,.empty-div a:hover{
    color:#e55039
}
.navbar a.active, .empty-div a.active{
    color: #e55039;
}
.dropdown:hover > .dropdown-menu {
    display: block;
  }
 
  
.report-option{
    position: absolute;
    margin-top: 12%;
    background-color: #0c2461;
    color: #fff;
    font-size: xx-small;
    width: 230px;
    padding-bottom: 12px;
    list-style: none;
}



@media(max-width:800px){
    img{
        display: none;
      
     }
    header{
        padding:14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 20px;
    }
}

@media 
(max-width: 650px){
   
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 2%;
        width: 200px;
        height: 25vh;
        background: #e89897;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .20s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .20s ease;
    }
    .navbar a:hover{
        color: #fff;
    }
    .navbar a.active{
        color: #0378a6;
    }
}
    
